<section class="blogInfo container-fluid" id="blogInfo">
    <div class="container-fluid ">
        <img class="w-100" src="<%=findBlog.image%>" alt="">
        <h1 class="w-75 py-3"><%=findBlog.title%></h1>
        <div class="py-3 my-3">
            <div class="d-flex text-right justify-content-end">
                <div class="px-2">
                    <p class="text-right"><%=findBlog.name%></p>
                    <p class="text-secondary"><%=findBlog.date%></p>
                </div>
                <img class="blogInfo-profile-pic h-100" src="<%=findBlog.userImg%>" alt="">
            </div>
        </div>

        <p class="text-secondary py-3">
            <%=findBlog.passage%>
        </p>
        <hr>
        <div class="d-flex justify-content-between">
            <div class="d-flex w-25 justify-content-around">
                <i class="far fa-heart"></i>
                <p>Lily and 4 people like this</p>
            </div>
            <div class="d-flex">
                <i class="far fa-comment px-3"></i>
                <p>
                    06 Comments
                </p>
            </div>
            <div class="d-flex w-25 justify-content-around">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="far fa-futbol"></i>
                <i class="fab fa-behance"></i>
            </div>
        </div>
        <div class="py-5 d-flex justify-content-between">
            <div class="d-flex next">
                <div class="next-content">
                    <img class="blogInfo-profile-pic h-100"
                        src="https://images.pexels.com/photos/2092709/pexels-photo-2092709.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                    <i class="fas fa-arrow-left next-arrow "></i>
                </div>
                <div class="px-2">
                    <p class="text-left">Prev Post</p>
                    <p class="text-secondary">A Discount Toner</p>
                </div>
            </div>
            <div class="d-flex next">
                <div class="px-2">
                    <p class="text-right">Next Post</p>
                    <p class="text-secondary">Cartridge Is Better
                    </p>
                </div>
                <div class="next-content">
                    <img class="blogInfo-profile-pic h-100"
                        src="https://images.pexels.com/photos/2092709/pexels-photo-2092709.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                    <i class="fas fa-arrow-right next-arrow "></i>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h4>05 Comments</h4>
        </div>
        <div class="d-flex py-4 justify-content-between">
            <div class="d-flex">
                <img class="blogInfo-profile-pic h-75"
                    src="https://images.pexels.com/photos/2092709/pexels-photo-2092709.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <div class="px-3">
                    <p>Emily Blunt</p>
                    <p class="text-uppercase">DECEMBER 4, 2017 AT 3:12 PM</p>
                    <p class="text-uppercase">Never say goodbye till the end comes!
                    </p>
                </div>
            </div>
            <p class="reply p-3 bg-light my-auto ">Reply</p>
        </div>
        <hr>
        <!-- Continue Here -->
        <div class="container-fluid">
            <%- include("reply") %>
        </div>
    </div>
</section>