<section class="blogInfo container-fluid" id="blogInfo">
    <div class="container-fluid ">
        <img class="w-100" src="<%=findBlog.image%>" alt="">
        <h1 class="w-75 py-3"><%=findBlog.title%></h1>
        <div class="py-3 my-3">
            <div class="d-flex text-right justify-content-end">
                <div class="px-2">
                    <p class="text-right"><%=findBlog.name%></p>
                    <p class="text-secondary"><%=findBlog.date%></p>
                </div>
                <img class="blogInfo-profile-pic h-100" src="<%=findBlog.userImg%>" alt="">
            </div>
        </div>
        <p class="text-secondary py-3">
            <%=findBlog.passage%>
        </p>
        <div class="d-flex text-center w-75 mx-auto">
            <div class="container-fluid w-100">
                <form action="/blog/archive/<%=findBlog._id%>" method="post">
                    <button type="submit" class="btn btn-dark">Archive</button>
                </form>
            </div>
            <div class="container-fluid w-100">
                <form action="/blog/removeArchive/<%=findBlog._id%>" method="post">
                    <button type="submit" class="btn btn-dark">Remove Archive</button>
                </form>
            </div>
            <div class="container-fluid w-100">
                <form action="/blog/<%=findBlog._id%>" method="post">
                    <button type="submit" class="btn btn-danger">Delete Blog</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <form action="/blog/likes/<%=findBlog._id%>" method="post">
                <div class="d-flex w-100 justify-content-around">
                    <button type="submit" class="btn btn-dark"><a href="href=/blog/<%=findBlog._id%>"><i
                                class="far fa-heart"></i> </a> </button>
                    <p class="my-auto ml-3"><%=findBlog.likes%> people like this</p>
                </div>
            </form>
            <div class="d-flex">
                <i class="far fa-comment px-3"></i>
                <p>
                    <%=products.length%> Comments
                </p>
            </div>
            <div class="d-flex w-25 justify-content-around">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="far fa-futbol"></i>
                <i class="fab fa-behance"></i>
            </div>
        </div>
        <hr>
        <div>
            <h4><%=products.length%> Comments</h4>
        </div>
        <%for (let i = 0; i < products.length; i++){%>
        <div class="d-flex py-4 justify-content-between">
            <div class="d-flex">
                <img class="blogInfo-profile-pic h-75"
                    src="https://images.pexels.com/photos/2092709/pexels-photo-2092709.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <div class="px-3">
                    <p><%=products[i].name%></p>
                    <p class="text-uppercase"></p>
                    <p class="text-uppercase"><%=products[i].message%>
                    </p>
                </div>
            </div>
            <p class="reply p-3 bg-light my-auto ">Reply</p>
        </div>
        <% }%>
        <!-- Start Pagination -->
        <div class="blogInfo-page-content w-25 mx-auto">
            <% if (pages > 0) { %>
            <ul class="pagination">
                <% if (current == 1) { %>
                <li class="disabled"> <button type="button" class="btn btn-outline-dark"><a
                            href="/blog/<%=blogId%>/1">First</a> </button></li>
                <% } else { %>
                <li> <button type="button" class="btn btn-outline-dark"><a href="/blog/<%=blogId%>/1">First</a></button>
                </li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                <li class="disabled"><button type="button" class="btn btn-outline-dark"><a>...</a></button></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                <li class="active"> <button type="button" class="btn btn-outline-dark active "><a
                            class="text-white"><%= i %></a>
                    </button>
                </li>
                <% } else { %>
                <li> <button type="button" class="btn btn-outline-dark"><a
                            href="/blog/<%=blogId%>/<%= i %>"><%= i %></a></button></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="disabled"> <button type="button" class="btn btn-outline-dark"><a>...</a> </button></li>
                <% } %>
                <% } %>
                <% if (current == pages) { %>
                <li class="disabled"> <button type="button" class="btn btn-outline-dark"><a>Last</a> </button></li>
                <% } else { %>
                <li><button type="button" class="btn btn-outline-dark"><a href="/blog/<%=blogId%>/<%= pages %>">Last</a>
                    </button></li>
                <% } %>
            </ul>
        </div>
        <!-- End Pagination -->
        <% } %>
        <hr>
    </div>
</section>