<div class="container-fluid latest py-3" id="latest">
    <div class="container-fluid">
        <div class="owl-carousel owl-theme py-3">
            <%for (let i = 0; i < latest.length; i++
      ){ %>
            <div class="item text-center">
                <img src="<%=latest[i].image%>" alt="" />
                <a href="/blog/<%=latest[i]._id%>">
                    <h6 class="bg-dark text-center fashion py-2 mx-auto text-warning mt-3 w-100">
                        <%=latest[i].title%>
                    </h6>
                </a>
                <h6><%=latest[i].passage%></h6>
                <h5 class="text-center mt-3">
                    <%=latest[i].passage.split(" ").splice(0,10).join(" ")+"..."%>
                </h5>
                <h6>Created On <%=latest[i].dateCreated%></h6>
            </div>
            <% }%>
        </div>
    </div>
</div>