<nav class="navbar navbar-expand-lg navbar-light bg-white" id="navbar">
    <a class="navbar-brand" href="/home/1">
        <h1>Sensive</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mx-auto w-50 justify-content-between navbar-content">
            <li class="nav-item active">
                <a class="nav-link <%=currentHome%>" href="/home/1">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%=currentArchive%>" href="/archive">Archive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%=currentContact%>" href="/contact">Contact</a>
            </li>
            <li class="nav-item">

                <div class="dropdown">
                    <a onclick="myFunction()" class="dropbtn my-auto nav-link <%=currentCat%>">Categories</a>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="/categories/technology">Technology</a>
                        <a href="/categories/holiday">Holiday</a>
                        <a href="/categories/education">Education</a>
                        <a href="/categories/others">Others</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link <%=currentCreate%>" href="/create">Create</a>
            </li>
        </ul>
        <span class="navbar-text nav-social">
            <div class="d-flex justify-content-between">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-skype"></i></a>
            </div>
        </span>
    </div>
</nav>