<%- include("partials/header") %>
<%- include("partials/navbar") %>
<%- include("partials/banner") %>
<div class="row my-5">
    <div class="col-lg-8">
        <%- include("partials/blogInfo") %>
        <%- include("./reply") %>
    </div>
    <div class="col-lg-4">
        <%- include("partials/options") %>
    </div>
</div>
<%- include("partials/bottom") %>
<%- include("partials/footer") %>