<%- include("partials/header") %>
<%- include("partials/navbar") %>
<%- include("partials/banner") %>
<%- include("partials/latest") %>
<div class="row my-3">
    <div class="col-lg-8">
        <%- include("partials/post") %>
    </div>
    <div class="col-lg-4">
        <%- include("partials/options") %>
    </div>
</div>
<%- include("partials/bottom") %>
<%- include("partials/footer") %>